body {
  
  margin: 0;
}

.cabeza {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #ae7023;
  flex-grow: 1;
}

.logo {
  margin-left: 7%;
}

.logo img {
  height: 250px;
  max-width: 100%;
}

.nombre {
  color: aliceblue;
  font-size: 180%;
  font-weight: bold;
  text-align: center;
  flex-grow: 1;
  margin: 0 auto;
  /* padding-left: 20%; */
}

.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10%;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  color: aliceblue;
  background-color: #d79d55;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0 10px;
}

.button:hover {
  background-color: goldenrod;
  color: black;
}

.button:active {
  background-color: #A67843;
}

.menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}

@media (max-width: 768px) {
  .cactus-acres {
    display: flex;
    flex-direction: column;
  }

  .piso-dos {
    margin-top: 0 !important;
    padding-top: 0;
  }

  .cabeza {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    min-height: 30vh;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .nombre,
  .button-container {
    display: none!important;
  }

  .logo {
    margin: 0 auto;
    
  }

  .logo img {
    width:85%;
  }

  .menu-icon {
    display: block;
    font-size: 50px;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    position: absolute;
    right: 30px;
    margin-top: -50%;
  }

  .mobile-menu {
    display: none;
    flex-direction: column;
    background-color: #ae7023; 
    position: absolute;
     top: 60px;
    right: 15px;
    width: 100px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }

  .mobile-menu .button {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #76460c;
    border-bottom: 1px solid white;
  }

  .mobile-menu .button:last-child {
    border-bottom: none;
  }

  .mobile-menu .button:hover {
    background-color: rgb(145, 112, 29);
  }

  .show-menu {
    display: flex;
  }
}
@media (max-width: 1024px) and (max-height: 480px) {
  .cabeza {
    display: flex;
    justify-content: space-between; /* Alinea los elementos a los extremos */
    align-items: center;
    
  }
  .logo img {
    width:100%;
  }

  .nombre {
    display: none !important;
  }

  .button-container {
    display: flex;
    justify-content: flex-end; /* Alinea los botones a la derecha */
    gap: 0px;
   padding-left: 50%;
  }

  .button {
    font-size: 15px;
    padding: 8px 15px;
  }

  .menu-icon {
    font-size: 40px;
    right: 20px;
    margin-top: 0;
  }

}
